{% extends 'base.html' %}

{% block title %}Robot{% endblock %}


{% block content %}

        <div class="row">

            <!-- Cards -->
            {% for robot in robots %}
            <div class="card bg-dark" style="width: 20rem; margin: 2em;">
                <div class="card-body bg-dark text-center">
                    <h4 class="card-title">{{ robot.model }}</h4>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ robot.version }}</h6>
                    <p class="card-text text-end mt-2">Serial - {{ robot.serial }}</p>
                    <p class="card-text text-end mt-2">{{ robot.created }}</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Button to add a new robot -->
        <button class="btn btn-primary mt-3" id="toggleFormButton">Добавить нового робота</button>

        <!-- Button to download robots.json -->
        <a href="{% url 'robots:json_view' %}" class="btn btn-secondary mt-3">Роботы.json</a>

        <!-- Button to download robots.xlsx -->
        <a href="{% url 'robots:download_excel' %}" class="btn btn-secondary mt-3">Роботы.xlsx</a>

        <!-- Form for adding a new robot -->
        <form id="robotForm" class="form-hidden mt-3" action="{% url 'robots:robot_view' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="serial" class="form-label text-white">Серия</label>
                <input type="text" class="form-control" id="serial" name="serial" required>
            </div>
            <div class="mb-3">
                <label for="model" class="form-label text-white">Модель</label>
                <input type="text" class="form-control" id="model" name="model" required>
            </div>
            <div class="mb-3">
                <label for="version" class="form-label text-white">Версия</label>
                <input type="text" class="form-control" id="version" name="version" required>
            </div>
            <div class="mb-3">
                <label for="created" class="form-label text-white">Дата создания</label>
                <input type="datetime-local" class="form-control" id="created" name="created" required>
            </div>
            <button type="submit" class="btn btn-success">Добавить робота</button>
        </form>


{% endblock %}
