<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            height: 100%;
            margin: 0;
            overflow-y: auto;
            background: grey;
        }
        h4, h6{
            color: white;
        }
        a {
            color: rgb(36, 119, 25);
        }
        p {
            color: white;
            font-size: 12px;
        }
        .form-hidden {
            display: none;
        }
    </style>
</head>

<body>

    <header class="bg-dark">
        <!-- NavBar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#">Robot</a>
                  <a class="nav-link" href="#">Customer</a>
                  <a class="nav-link" href="#">Order</a>
                  <a class="nav-link" href="/admin/">Admin</a>
                </div>
              </div>
            </div>
          </nav>
    </header>

    <section class="content">

        <!-- Base -->
        <div class="container-fluid mt-4">
            <div class="row">

                <!-- Left side -->
                <div class="col-lg-1"></div>

                <!-- Middle side -->
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <!-- Cards -->
                        {% for robot in robots %}
                        <div class="card bg-dark" style="width: 20rem; margin: 2em;">
                        <div class="card-body bg-dark text-center">
                            <h4 class="card-title">{{ robot.model }}</h4>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ robot.version }}</h6>
                            <p class="card-text text-end mt-2">Serial - {{ robot.serial }}</p>
                            <p class="card-text text-end mt-2">{{ robot.created }}</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>

                        </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Button to add a new robot -->
                    <button class="btn btn-primary mt-3" id="toggleFormButton">Добавить нового робота</button>

                    <!-- Button to download robots.json -->
                    <a href="{% url 'robots:json_view' %}" class="btn btn-secondary mt-3">Роботы.json</a>

                    <!-- Button to download robots.xlsx -->
                    <a href="{% url 'robots:download_excel' %}" class="btn btn-secondary mt-3">Роботы.xlsx</a>

                    <!-- Form for adding a new robot -->
                    <form id="robotForm" class="form-hidden mt-3" action="{% url 'robots:robot_view' %}" method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="model" class="form-label text-white">Модель</label>
                            <input type="text" class="form-control" id="model" name="model" required>
                        </div>
                        <div class="mb-3">
                            <label for="version" class="form-label text-white">Версия</label>
                            <input type="text" class="form-control" id="version" name="version" required>
                        </div>
                        <div class="mb-3">
                            <label for="created" class="form-label text-white">Дата создания</label>
                            <input type="datetime-local" class="form-control" id="created" name="created" required>
                        </div>
                        <button type="submit" class="btn btn-success">Добавить робота</button>
                    </form>
                </div>

                <!-- правая часть -->
                <div class="col-lg-3 col-md-12">
                    <div class="row px-2"> </div>
                </div>

            </div>
        </div>


    </section>

    <!-- Footer -->
    <footer class="bg-dark d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted"> 2022 Company, Inc</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <script>
        // Script to toggle the visibility of the robot add form
        document.getElementById('toggleFormButton').addEventListener('click', function() {
            const form = document.getElementById('robotForm');
            if (form.classList.contains('form-hidden')) {
                form.classList.remove('form-hidden');
            } else {
                form.classList.add('form-hidden');
            }
        });
    </script>

    

</body>

</html>
